@import "../../app/variables.scss";

.chat_form {
  width: 80%;
  background-color: $chat_form_color;
  border-radius: 0.75rem;
  display: flex;
  padding: 0.6rem 1rem;

  .chat_input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    resize: none;

    &:focus {
      outline: none;
    }
  }

  .form_button {
    background: transparent;
    border: none;
    font-size: 1.4rem;
    color: $form_button_color;
    padding: 0.4rem 0.5rem;
    cursor: pointer;
    border-radius: 8px;

    &:hover {
      background-color: $form_button_color_hover;
      color: white;
    }
  }
}
