@import '../../app/variables.scss';

.chatbox {
    width: 50%;
    border-radius: 6px;
    background-color: $chatbox_user_color;
    margin-bottom: 1rem;
    font-family: Arial, sans-serif;
    text-wrap: wrap;
    padding-bottom: 1rem;

  
    .text-container {
      display: flex;
      align-items: flex-start;
    }
  
    .text {
      padding-right: 1rem;

      * {
        margin: 0;
      }

      pre {
        background-color: $bg_color;
        padding: 1rem;
        border-radius: 0.5rem;
        width:fit-content;
      }
    }
  
    &-bot {
      background-color: $chatbox_bot_color;
      margin-left: auto;
    }
  
    .image {
      width: 45px;
      height: 45px;
      border-radius: 5px;
      margin: 1.2rem 1.5rem 1rem 1rem;
    }
  
    .cursor {
      background: white;
      line-height: 1rem;
      animation: blink 0.8s infinite;
      -webkit-animation: blink 0.8s infinite;
      width: 0.7rem;
      height: 1rem;
      margin-top: 1.1rem;
    }

    @media (max-width: 768px) {
      width: 100%;
    }
  }
  
  @keyframes blink {
    0% {
      background: #444654;
    }
    50% {
      background: white;
    }
    100% {
      background: #444654;
    }
  }
  
  @-webkit-keyframes blink {
    0% {
      background: #444654;
    }
    50% {
      background: white;
    }
    100% {
      background: #444654;
  }
}  