.chatbox {
    width: 100%;
    /* padding: 1.2em 1em; */
}

.chatbox__text-container {
    display: flex;
    align-items: center;    
}

.chatbox--bot {
    background-color: #444654;
}

.chatbox__image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin: 15px;
}