.chatbox {
    width: 100%;
    /* padding: 1.2em 1em; */
}

.chatbox__text-container {
    display: flex;
    align-items: center;    
}

.chatbox--bot {
    background-color: #444654;
}

.chatbox__image {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    margin: 15px;
}

@media only screen and (min-width: 768px) {
    .chatbox__text {
        font-size: 1.8rem;
    }
}

@media only screen and (min-width: 1280px) {
    .chatbox__text {
        font-size: 1rem;
    }
}