.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  height: 100vh;
}

.app__title {
  font-weight: 500;
}

.messages {
  text-align: left;
  width: 100%;
}

.chat_form_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1.5rem;
  background-color: #353641;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.credits {
  color: rgb(149, 148, 148);
  font-size: 0.75rem;
}