.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100dvh;
  height: 100vh;
}

.title {
  font-weight: 500;
  color: white;
}

.empty_chat_container {
  width: 90;
  text-align: center;
  color: #9CA3AF;
  padding: 0.1rem;
}

.disclaimer {
  font-weight: 500;
  color: white;
}

.messages {
  text-align: left;
  width: 100%;
  max-height: 80%;
  overflow-y: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.messages::-webkit-scrollbar {
  display: none;
}

.chat_form_container {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-top: 1.5rem;
  background-color: #353641;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.credits {
  color: rgb(149, 148, 148);
  font-size: 0.75rem;
}